In [143]:
path= r"D:\Asus\Documents\supplier_data.csv"

In [144]:
import pandas as pd
suppliers= pd.read_csv(path)

In [145]:
suppliers.head(10)

,supplier,product,availability,no_suppliers,standard,price_fluctuation,Quantity,price
0,supplier1,product_1,0.0,0.5,0.0,0.5,710,360
1,supplier1,product_2,0.0,0.5,0.0,0.5,2997,2740
2,supplier1,product_3,0.0,0.5,0.0,0.5,3917,2919
3,supplier1,product_4,0.0,0.5,0.0,0.5,3827,3246
4,supplier1,product_5,0.0,0.5,0.0,0.0,3882,3596
5,supplier1,product_6,0.0,0.5,0.0,0.0,3663,917
6,supplier2,product_7,0.5,0.0,0.5,0.0,3517,2639
7,supplier2,product_8,0.5,0.0,0.5,0.0,450,1384
8,supplier2,product_9,0.5,0.0,0.5,0.0,1438,842
9,supplier2,product_10,0.5,0.0,0.5,0.0,2887,323

In [146]:
suppliers['Usage Value']= suppliers['Quantity']*suppliers['price']

In [147]:
suppliers.head()

,supplier,product,availability,no_suppliers,standard,price_fluctuation,Quantity,price,Usage Value
0,supplier1,product_1,0.0,0.5,0.0,0.5,710,360,255600
1,supplier1,product_2,0.0,0.5,0.0,0.5,2997,2740,8211780
2,supplier1,product_3,0.0,0.5,0.0,0.5,3917,2919,11433723
3,supplier1,product_4,0.0,0.5,0.0,0.5,3827,3246,12422442
4,supplier1,product_5,0.0,0.5,0.0,0.0,3882,3596,13959672

In [148]:
(suppliers.groupby('supplier').sum()['Quantity'])

supplier
supplier 4    12193
supplier1     18996
supplier2      9392
supplier3     13122
Name: Quantity, dtype: int64

In [149]:
suppliers['supplier'].unique()

array(['supplier1', 'supplier2', 'supplier3', 'supplier 4'], dtype=object)

In [150]:
suppliers.replace({'supplier 4':'supplier4'}, inplace=True)

In [151]:
suppliers[suppliers['supplier']=='supplier 4']['product']

Series([], Name: product, dtype: object)

In [152]:
suppliers[suppliers['supplier']=='supplier4']['product']

18    product_19
19    product_20
20    product_21
21    product_22
22    product_23
23    product_24
Name: product, dtype: object

In [153]:
suppliers.tail(10)

,supplier,product,availability,no_suppliers,standard,price_fluctuation,Quantity,price,Usage Value
14,supplier3,product_15,0.5,0.0,0.0,0.0,833,941,783853
15,supplier3,product_16,0.5,0.0,0.0,0.0,238,2858,680204
16,supplier3,product_17,0.5,0.0,0.0,0.5,2970,2774,8238780
17,supplier3,product_18,0.5,0.0,0.0,0.5,3618,3867,13990806
18,supplier4,product_19,0.0,0.5,0.5,0.5,1533,667,1022511
19,supplier4,product_20,0.0,0.5,0.5,0.5,2766,2799,7742034
20,supplier4,product_21,0.0,0.5,0.5,0.0,2706,3735,10106910
21,supplier4,product_22,0.0,0.5,0.5,0.0,3094,861,2663934
22,supplier4,product_23,0.0,0.5,0.5,0.0,508,1579,802132
23,supplier4,product_24,0.0,0.5,0.5,0.0,1586,75,118950

In [154]:
data=(suppliers.groupby(['supplier','product']).sum()[['Quantity','Usage Value']])

In [155]:
data= pd.DataFrame(data)

In [156]:
data

                      Quantity  Usage Value
supplier  product
supplier1 product_1        710       255600
          product_2       2997      8211780
          product_3       3917     11433723
          product_4       3827     12422442
          product_5       3882     13959672
          product_6       3663      3358971
supplier2 product_10      2887       932501
          product_11       764      1469172
          product_12       336       359856
          product_7       3517      9281363
          product_8        450       622800
          product_9       1438      1210796
supplier3 product_13      2084      5824780
          product_14      3379      6061926
          product_15       833       783853
          product_16       238       680204
          product_17      2970      8238780
          product_18      3618     13990806
supplier4 product_19      1533      1022511
          product_20      2766      7742034
          product_21      2706     10106910
          product_22      3094      2663934
          product_23       508       802132
          product_24      1586       118950

In [157]:
data['Usage Value'].sum()

121555496

In [158]:
data['Fraction Usage Value']=data['Usage Value']/data['Usage Value'].sum()

In [165]:
data=data.sort_values('Fraction Usage Value',ascending=False)

In [167]:
data['% Usage Value']= data['Fraction Usage Value']*100

In [170]:
data.shape

(24, 4)

In [176]:
sum_=0
list_=[]
for i in range(data.shape[0]):
    print(data['% Usage Value'][i])
    sum_ += data['% Usage Value'][i]
    list_.append(sum_)
# data['Cumulative % Usage Value']=

11.509809478297878
11.484196485858607
10.219564239201492
9.406175266645286
8.314646669698917
7.635494325982595
6.777793083086922
6.7555810063906945
6.369135296029725
4.986961675513216
4.791868892542712
2.7633230174964694
2.191537271173654
1.2086430053314907
0.9960849487216934
0.8411886205457958
0.7671401381966308
0.659889537203649
0.6448519612803028
0.5595830895215137
0.512358569126319
0.29604255820732284
0.21027432605762228
0.09785653788949204

In [177]:
list_

[11.509809478297878,
 22.994005964156486,
 33.213570203357975,
 42.61974547000326,
 50.934392139702176,
 58.569886465684775,
 65.3476795487717,
 72.1032605551624,
 78.47239585119212,
 83.45935752670533,
 88.25122641924804,
 91.01454943674452,
 93.20608670791817,
 94.41472971324967,
 95.41081466197136,
 96.25200328251715,
 97.01914342071379,
 97.67903295791744,
 98.32388491919775,
 98.88346800871926,
 99.39582657784558,
 99.6918691360529,
 99.90214346211053,
 100.00000000000003]

In [178]:
data['Cum Sum (% Usage Val)']=list_

In [179]:
data

                      Quantity  Usage Value  Fraction Usage Value  \
supplier  product
supplier3 product_18      3618     13990806              0.115098
supplier1 product_5       3882     13959672              0.114842
          product_4       3827     12422442              0.102196
          product_3       3917     11433723              0.094062
supplier4 product_21      2706     10106910              0.083146
supplier2 product_7       3517      9281363              0.076355
supplier3 product_17      2970      8238780              0.067778
supplier1 product_2       2997      8211780              0.067556
supplier4 product_20      2766      7742034              0.063691
supplier3 product_14      3379      6061926              0.049870
          product_13      2084      5824780              0.047919
supplier1 product_6       3663      3358971              0.027633
supplier4 product_22      3094      2663934              0.021915
supplier2 product_11       764      1469172              0.012086
          product_9       1438      1210796              0.009961
supplier4 product_19      1533      1022511              0.008412
supplier2 product_10      2887       932501              0.007671
supplier4 product_23       508       802132              0.006599
supplier3 product_15       833       783853              0.006449
          product_16       238       680204              0.005596
supplier2 product_8        450       622800              0.005124
          product_12       336       359856              0.002960
supplier1 product_1        710       255600              0.002103
supplier4 product_24      1586       118950              0.000979

                      % Usage Value  Cum Sum (% Usage Val)
supplier  product
supplier3 product_18      11.509809              11.509809
supplier1 product_5       11.484196              22.994006
          product_4       10.219564              33.213570
          product_3        9.406175              42.619745
supplier4 product_21       8.314647              50.934392
supplier2 product_7        7.635494              58.569886
supplier3 product_17       6.777793              65.347680
supplier1 product_2        6.755581              72.103261
supplier4 product_20       6.369135              78.472396
supplier3 product_14       4.986962              83.459358
          product_13       4.791869              88.251226
supplier1 product_6        2.763323              91.014549
supplier4 product_22       2.191537              93.206087
supplier2 product_11       1.208643              94.414730
          product_9        0.996085              95.410815
supplier4 product_19       0.841189              96.252003
supplier2 product_10       0.767140              97.019143
supplier4 product_23       0.659890              97.679033
supplier3 product_15       0.644852              98.323885
          product_16       0.559583              98.883468
supplier2 product_8        0.512359              99.395827
          product_12       0.296043              99.691869
supplier1 product_1        0.210274              99.902143
supplier4 product_24       0.097857             100.000000

In [180]:
data['% Quantity'] = data["Quantity"]/sum(data['Quantity'])

In [182]:
data=data[['Quantity','Usage Value','Fraction Usage Value','% Usage Value','% Quantity','Cum Sum (% Usage Val)']]

In [184]:
sum_=0
list_=[]
for i in range(data.shape[0]):
    print(data['% Quantity'][i])
    sum_ += data['% Quantity'][i]
    list_.append(sum_)
# data['Cumulative % Usage Value']=

0.06737053795877325
0.07228646444332719
0.07126231309237845
0.07293819712120365
0.05038824646667784
0.0654898236597583
0.05530417295123177
0.05580693815987934
0.051505502485894646
0.06292013481555965
0.038806025734130306
0.06820847997318585
0.05761316872427984
0.014226393311360632
0.02677690259389606
0.02854589129098933
0.05375863545798186
0.009459434296035603
0.015511237733459955
0.004431782209559987
0.008379420144126026
0.006256633707614099
0.013220862894065509
0.02953280077463084

In [191]:
list_= [i*100 for i in list_]
data['Cum Sum % Quantity']= list_

<ipython-input-191-214b587dcfe3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Cum Sum % Quantity']= list_

In [192]:
list_

[6.737053795877325,
 13.965700240210044,
 21.09193154944789,
 28.385751261568252,
 33.42457590823604,
 39.97355827421187,
 45.50397556933504,
 51.084669385322975,
 56.23521963391245,
 62.52723311546842,
 66.40783568888145,
 73.22868368620004,
 78.99000055862801,
 80.41263988976408,
 83.09033014915369,
 85.94491927825261,
 91.32078282405081,
 92.26672625365437,
 93.81785002700036,
 94.26102824795636,
 95.09897026236897,
 95.72463363313037,
 97.04671992253692,
 100.00000000000003]

In [194]:
data=data[['Quantity','Usage Value','Fraction Usage Value','% Usage Value','% Quantity','Cum Sum % Quantity','Cum Sum (% Usage Val)']]

In [195]:
data

                      Quantity  Usage Value  Fraction Usage Value  \
supplier  product
supplier3 product_18      3618     13990806              0.115098
supplier1 product_5       3882     13959672              0.114842
          product_4       3827     12422442              0.102196
          product_3       3917     11433723              0.094062
supplier4 product_21      2706     10106910              0.083146
supplier2 product_7       3517      9281363              0.076355
supplier3 product_17      2970      8238780              0.067778
supplier1 product_2       2997      8211780              0.067556
supplier4 product_20      2766      7742034              0.063691
supplier3 product_14      3379      6061926              0.049870
          product_13      2084      5824780              0.047919
supplier1 product_6       3663      3358971              0.027633
supplier4 product_22      3094      2663934              0.021915
supplier2 product_11       764      1469172              0.012086
          product_9       1438      1210796              0.009961
supplier4 product_19      1533      1022511              0.008412
supplier2 product_10      2887       932501              0.007671
supplier4 product_23       508       802132              0.006599
supplier3 product_15       833       783853              0.006449
          product_16       238       680204              0.005596
supplier2 product_8        450       622800              0.005124
          product_12       336       359856              0.002960
supplier1 product_1        710       255600              0.002103
supplier4 product_24      1586       118950              0.000979

                      % Usage Value  % Quantity  Cum Sum % Quantity  \
supplier  product
supplier3 product_18      11.509809    0.067371            6.737054
supplier1 product_5       11.484196    0.072286           13.965700
          product_4       10.219564    0.071262           21.091932
          product_3        9.406175    0.072938           28.385751
supplier4 product_21       8.314647    0.050388           33.424576
supplier2 product_7        7.635494    0.065490           39.973558
supplier3 product_17       6.777793    0.055304           45.503976
supplier1 product_2        6.755581    0.055807           51.084669
supplier4 product_20       6.369135    0.051506           56.235220
supplier3 product_14       4.986962    0.062920           62.527233
          product_13       4.791869    0.038806           66.407836
supplier1 product_6        2.763323    0.068208           73.228684
supplier4 product_22       2.191537    0.057613           78.990001
supplier2 product_11       1.208643    0.014226           80.412640
          product_9        0.996085    0.026777           83.090330
supplier4 product_19       0.841189    0.028546           85.944919
supplier2 product_10       0.767140    0.053759           91.320783
supplier4 product_23       0.659890    0.009459           92.266726
supplier3 product_15       0.644852    0.015511           93.817850
          product_16       0.559583    0.004432           94.261028
supplier2 product_8        0.512359    0.008379           95.098970
          product_12       0.296043    0.006257           95.724634
supplier1 product_1        0.210274    0.013221           97.046720
supplier4 product_24       0.097857    0.029533          100.000000

                      Cum Sum (% Usage Val)
supplier  product
supplier3 product_18              11.509809
supplier1 product_5               22.994006
          product_4               33.213570
          product_3               42.619745
supplier4 product_21              50.934392
supplier2 product_7               58.569886
supplier3 product_17              65.347680
supplier1 product_2               72.103261
supplier4 product_20              78.472396
supplier3 product_14              83.459358
          product_13              88.251226
supplier1 product_6               91.014549
supplier4 product_22              93.206087
supplier2 product_11              94.414730
          product_9               95.410815
supplier4 product_19              96.252003
supplier2 product_10              97.019143
supplier4 product_23              97.679033
supplier3 product_15              98.323885
          product_16              98.883468
supplier2 product_8               99.395827
          product_12              99.691869
supplier1 product_1               99.902143
supplier4 product_24             100.000000

In [199]:
(data[data['Cum Sum (% Usage Val)']>50]).iloc[0,:]

Quantity                 2.706000e+03
Usage Value              1.010691e+07
Fraction Usage Value     8.314647e-02
% Usage Value            8.314647e+00
% Quantity               5.038825e-02
Cum Sum % Quantity       3.342458e+01
Cum Sum (% Usage Val)    5.093439e+01
Name: (supplier4, product_21), dtype: float64

In [205]:
print(f"Top {(data[data['Cum Sum (% Usage Val)']>50]).iloc[0,-2]} %  products have annual usage value of {(data[data['Cum Sum (% Usage Val)']>50]).iloc[0,-1] } percent.")

Top 33.42457590823604 %  products have annual usage value of 50.934392139702176 percent.

In [213]:
print(f"Next {(data[data['Cum Sum (% Usage Val)']>80]).iloc[0,-2]-(data[data['Cum Sum (% Usage Val)']>50]).iloc[0,-2]} %  products have annual usage value of {(data[data['Cum Sum (% Usage Val)']>80].iloc[0,-1])-(data[data['Cum Sum (% Usage Val)']>50].iloc[0,-1]) } percent.")

Next 29.102657207232383 %  products have annual usage value of 32.52496538700316 percent.

In [211]:
(data[data['Cum Sum (% Usage Val)']>80].iloc[0,-1])-(data[data['Cum Sum (% Usage Val)']>50].iloc[0,-1])

32.52496538700316

In [212]:
(data[data['Cum Sum (% Usage Val)']>80].iloc[0,-2])-(data[data['Cum Sum (% Usage Val)']>50].iloc[0,-2])

29.102657207232383